[2019-12-31 20:49] weierophinney opened #1 "Zend Expressive vs Zend Framework 3 vs Zend Apigility for REST API with Swagger docs?"
Hi all,

I have read https://github.com/zendframework/zend-expressive/issues/342 and I still have a few questions. Firstly, let me describe the scenario.

**Current situation**
Web application written in Zend Framework 1. There are two modules in the ZF1 app structure:

- "default" model used for the publicly accessible website

- "admin" model used for web administrators (accessible only by emplo

[2019-12-31 20:49] weierophinney commented on #1
First of all, we've got a nice forum for questions like this: https://discourse.zendframework.com/

Just don't tweak ZF1. **ZF1 is end-of-life** and is not being updated anymore. Take the opportunity to rebuild it and use Expressive. Once you figured out how powerful the middleware approach is you don't want anything else anymore.

I have tried apigility on a rainy Saturday morning and I think thi

[2019-12-31 20:49] weierophinney commented on #1
Thanks for the link to the forum, I was not aware of it.

Yeah, I want to take the opportunity to try Expressive but I wand to be sure I can easily generate documentation of the Rest API which I can show to the 3rd party companies.

Swoole is interesting but since the App is hosted on a "standard" hosting there is no Swoole support so far.

---

Originally posted by @starkskalle at https://github.

[2019-12-31 20:49] weierophinney opened #2 "Add docs for extension config parameter for zend view renderer"
Provide a narrative description of what you are trying to accomplish:

2.2.0 release of `zendframework/zend-expressive-zendviewrenderer` adds support for `extension` parameter for default suffix to be used by zend-view resolver, in line with other template renderers.

- [x] Is this related to documentation?
  Add documentation entry for `extension` config parameter.

---

Originally posted by @Xer

[2019-12-31 20:50] weierophinney opened #3 "Unable to handle errors in v1"
I cannot see a proper stack trace of errors while I'm developing, which is obviously very frustrating.
However, when I switch php error reporting on I can see an exception raised by Diactoros (...Unsupported response reason phrase; must be a string, received NULL...zendframework/zend-diactoros/src/Response.php:185 Stack trace...) , but no trace/indication of where the problem actually occurred, wh

[2019-12-31 20:50] weierophinney commented on #3
Expressive has error handling included, even v1 (which is not supported anymore I think). It has default 404 and error handlers and comes with WhoopsErrorHandler for debugging purposes.

I wonder how much time you have spend or where you searched because it is documented here: https://docs.zendframework.com/zend-expressive/v1/features/error-handling/

If you used the skeleton to install expressive

[2019-12-31 20:50] weierophinney commented on #3
Thank you for the reply.
What I have found to work in v1 is the following:

At the top of my bootstrap (/public/index.php) I have this:
error_reporting(E_ALL);
ini_set('display_errors', 1);
ini_set("display_startup_errors", 1);

Then in my config/autoload/local.php
'zend-expressive' => [
    'raise_throwables' => true,
]

Without raise_throwables the problem remains, even with PHP error reporting

[2019-12-31 20:50] weierophinney opened #4 "Path segregation - pipeline middleware - config-driven"
@weierophinney

Good morning,

I've an expressive application with a config-driven pipeline. That application exposes different UI levels such as **/admin**, **/reseller** and **/client**, among others...

Right now, I've a specific pipeline middleware that I want to execute only for specific paths:

[code]
This is working but, I would rather be able to do something like this:

[code]
Of course, I

[2019-12-31 20:50] weierophinney commented on #4
We don't recommend usage of config-driven routes or pipelines at this point; starting in Expressive 2, we began moving away from using them in examples, and we've discussed deprecating the feature. I know some people swear by them, but it's a complicated feature, and easy to misconfigure. However, if you want to submit a pull request (which will require tests and documentation), I'll review. (We m

[2019-12-31 20:50] weierophinney commented on #4
@weierophinney

We are one of them. You should really avoid opinionated implementations. This was the mistake you have made with your MVC implementation. Zend Expressive is really cool as micro-framework and a great alternative to symfony but if you start forcing developers to follow a single road, that will make it unusable or a bad choice for some developers.

We prefer a config-driven pipeline

[2019-12-31 20:50] weierophinney commented on #4
We have to choose carefully where we spend our time maintaining code and educating users. While I appreciate that the config-driven approach is useful to a number of people, the number of support questions we had to field based on them was disproportionate, which was why we moved away from the feature.

This sort of feature is quite easy for us to separate into its own package, however, and we cou

[2019-12-31 20:50] weierophinney opened #5 "NotFoundHandler generateTemplatedResponse Content Type missing"
I believe "Content-Type" header is missing from the newly created response object when a 404 error is handled.

/src/Handler/NotFoundHandler.php

[code]
Should be
[code]

---

Originally posted by @cgaube at https://github.com/zendframework/zend-expressive/issues/647

[2019-12-31 20:50] weierophinney commented on #5
Not 100% sure if this relates to your problem, but I get a server 500 error on anything "that goes wrong" in my application, even for 404's. - when I switch PHP error reporting off then all works... which is clearly a sign of bad architecture.
One would imagine that a framework with PSR-7 & 15 at its roots would have the basics of HTTP sorted, clearly not...
I'm so tired of wasting time with Zend'

[2019-12-31 20:50] weierophinney opened #6 "default_suffix"
Hello! How I can change default_suffix from .phtml on something else?
I use zend-view with service-manager.

---

Originally posted by @Auramel at https://github.com/zendframework/zend-expressive/issues/641

[2019-12-31 20:50] weierophinney commented on #6
There currently isn't a way.

You _can_ make it happen, though. To do so, you will need to create a delegator factory that uses reflection to fetch the `NamespacedPathStackResolver` attached to the renderer, and then set the suffix on that.

As an example:

[code]

You would then register this via your dependency configuration:

[code]

In the meantime, I'm marking this as a feature request, as th

[2019-12-31 20:50] weierophinney commented on #6
It working!
Thank you very much!
I believe, that in future will be more easily way

---

Originally posted by @Auramel at https://github.com/zendframework/zend-expressive/issues/641#issuecomment-427883210

[2019-12-31 20:50] weierophinney opened #7 "Empty response with WhoopsErrorResponseGenerator and zend-expressive-swoole"
I'm just playing around with expressive and zend-expressive-swoole and noticed that given the WhoopsErrorResponseGenerator is configured as ErrorResponseGenerator no response body will be sent. The default ErrorResponseGenerator however works fine.

### Expected results

Get response body generated by WhoopsErrorResponseGenerator

### Actual results

empty response on errors.

---

Originally post

[2019-12-31 20:50] weierophinney opened #8 "Description of a manual installation is missing"
I'm trying to include zend-expressive in my project, but unsuccessfully.
When i require zend-expressive via console ( composer require zendframework/zend-expressive ), i get the following error:

[code]

### Code to reproduce the issue

[code]

### Expected results
Expected composer to install the package

### Actual results
Composer returned an error regarding package dependencies

---

Originall

[2019-12-31 20:50] weierophinney commented on #8
It's not broken, you are missing a `psr/http-message-implementation`, e.g. `zendframework/zend-diactoros`

So I guess this would do:
`composer require zendframework/zend-expressive zendframework/zend-diactoros`

---

Originally posted by @JoeBengalen at https://github.com/zendframework/zend-expressive/issues/624#issuecomment-403813033

[2019-12-31 20:50] weierophinney commented on #8
@ksemeks One new tool for you: `composer why-not <package>`. This will give you detailed information on what blocks installation of a package.

That said, your error message indicates the issue:

[code]

We do not currently cover installation within an existing project, which tells me this should be documented. I'm adding the "documentation" and "help wanted" labels presently, so somebody can pick

[2019-12-31 20:50] weierophinney opened #9 "Several selectable DI Containers do not implement Interop\Container, causing an error in Zend Expressive 3"
I set up a fresh installation of Zend Expressive 3 through the composer create-project command, and selected the following options:

- Modular installation type
- Symfony DI Container
- FastRoute router
- Zend-view template engine
- Whoops error handler

Without adjusting anything within the project and accessing the project in my local development environment I'm faced with the following error:

[2019-12-31 20:50] weierophinney commented on #9
zend-servicemanager uses PSR-11 as well. However the AbstractPluginManager is still not compatible with psr-11 containers. If I am not misstaken, it says that zend-view requires zend-servicemanager.
Until it is compatible, the solution is to use zend-servicemanager as the main container instead of symfony di or use twig or plates as the template renderer.

---

Originally posted by @geerteltink at

[2019-12-31 20:50] weierophinney opened #10 "Document split for routers and template renders"
I just found this in the [Expressive v3 project](https://github.com/zendframework/zend-expressive-skeleton/projects/1):

Especially the last part. I'm all in favor of this. I've seen too many notes in those projects that docs need to be updated in zend-expressive.

I'm opening the issue here so we can discuss it and I can close the expressive v3 project.

---

Originally posted by @geerteltink at

[2019-12-31 20:50] weierophinney commented on #10
Go ahead and close the v3 project; we've definitely completed the documentation milestone.

I _do_ want to figure out a way to move documentation closer to the packages the documents describe. One issue, however, is that the current structure makes it trivial to link back and forth between documentation; that becomes much harder once we move docs to each package. As such, we need to start with an

[2019-12-31 20:50] weierophinney opened #11 "How can I pass locale to Twig extension?"
I have made routes and locale middleware with this Cookbook:
[setting-locale-depending-routing-parameter.md](https://github.com/zendframework/zend-expressive/blob/master/doc/book/cookbook/setting-locale-depending-routing-parameter.md)

Now I wonder how I can pass the locale to Twig Extension which I use to create function {{ __('translate me') }}

Twig Extension is added in `config/autoload/templa

[2019-12-31 20:50] weierophinney commented on #11
Well you have to pass locale variable to twig in middleware

---

Originally posted by @vaclavvanik at https://github.com/zendframework/zend-expressive/issues/524#issuecomment-337482723

[2019-12-31 20:50] weierophinney commented on #11
My Twig extension loads translator, but it needs the locale information. So how can I pass the locale from middleware to Twig extension or how can I get it in the extension?

---

Originally posted by @back-2-95 at https://github.com/zendframework/zend-expressive/issues/524#issuecomment-337540730

[2019-12-31 20:50] weierophinney commented on #11
Inject the translator extension into the locale detection middleware.
Update the locale after detection into the extension.

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/524#issuecomment-337698672

[2019-12-31 20:50] weierophinney commented on #11
I created static method in the Extension class and I set locale in Localization middleware after detection.

---

Originally posted by @back-2-95 at https://github.com/zendframework/zend-expressive/issues/524#issuecomment-337702862

[2019-12-31 20:50] weierophinney commented on #11
Actually, you don't need to inject the locale into the extension. You can set the default locale directly in the translator. Here is how I did it a while back (old code):

[code]

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/524#issuecomment-337706705

[2019-12-31 20:50] weierophinney opened #12 "Explanation of installation choices"
Summary: explain the pros/cons, speed and other differences between the choices we have.

When I first looked at zend expressive I was impressed but confused, It looked nice, but I didn't know what happened with mvc nor the difference between these two choices, and I also looked at all the choices I had when it came to view, routing etc. And did not know what to pick or what the difference was. A

[2019-12-31 20:50] weierophinney commented on #12
https://docs.zendframework.com/zend-expressive/why-expressive/#should-you-choose-zend-expressive-over-zend-mvc

I'm not sure how you want to do this. Those are different packages with different solution for the same problem. I don't think it's our task to list all the differences, that also means you need to maintain that comparison. If there are new features added we would need to update the docs

[2019-12-31 20:50] weierophinney commented on #12
Sorry for not knowing excactly how this works here. Should I put [my question](https://github.com/zendframework/zend-expressive/issues/283#issuecomment-330485602) I put on  #283 rather here?

---

Originally posted by @frankx at https://github.com/zendframework/zend-expressive/issues/512#issuecomment-330488441

[2019-12-31 20:50] weierophinney commented on #12
@frankx Try our [forum](https://discourse.zendframework.com/) and [slack](https://zendframework-slack.herokuapp.com/) for questions.

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/512#issuecomment-330488859

[2019-12-31 20:50] weierophinney commented on #12
@xtreamwayz Thank you for your response

Maybe the differences in the templates could be written as parts, and reused in both the overview of templates and in each template. Same goes for routers. The main features is only needed I think, performance is definitely a huge factor in chosing (thank you for the routing explanation.

---

Originally posted by @AndersMadsen at https://github.com/zendfra

[2019-12-31 20:50] weierophinney opened #13 "HTTP/1.1 response to the Client of 1.0"
[code]

curl request is **HTTP/1.0**, but zend-expressive has **HTTP/1.1** response.

[code]

Next, I tried ApacheBench.

[code]

Very very slow.

[code]

ApacheBench expect active close of server, but server does not close until KeepAliveTimeout seconds.

----

This problem can solved by fix response protocol version based on request protocol version.

[code]

---

Originally posted by @ngyuki at

[2019-12-31 20:50] weierophinney commented on #13
I can confirm the slow speed for the php:apache container. Using the php internal server or a nginx container I didn't encounter this issue. Also forcing a http 1.0 return does fix the slow apache bench speed.

This is interesting though. I didn't know this and [searched for it](https://serverfault.com/a/442978).

So, if the client sends an HTTP/1.0 request, either an HTTP/1.0 response or HTTP/1.1

[2019-12-31 20:50] weierophinney opened #14 "[Question] Doc about debugbar in a programmatic_pipeline context"
Following the doc [about debugbars](https://docs.zendframework.com/zend-expressive/cookbook/debug-toolbars/), the `php-middleware/php-debug-bar` neither `bitExpert/prophiler-psr7-middleware` didn't work in a  'programmatic_pipelines' context.

What is the recommended way to pipe middleware only for development ?

For now I've ended up adding them in the `config/pipeline.php` file:

[code]
Not sure

[2019-12-31 20:50] weierophinney commented on #14
For me looks fine. One think what you can improve it's move building middlewares (with dependencies) to your container.

---

Originally posted by @snapshotpl at https://github.com/zendframework/zend-expressive/issues/488#issuecomment-303741275

[2019-12-31 20:50] weierophinney commented on #14
A good init.

---

Originally posted by @samuel20miglia at https://github.com/zendframework/zend-expressive/issues/488#issuecomment-303818580

[2019-12-31 20:50] weierophinney opened #15 "Tutorial - Getting start - suggestion"
I've found "generate-factory-for-class" very usefull, but executing it on Windows was a small problem at first.
If I could suggest a small change in this tutorial, I recomend adding a comment saying that correct syntax of this command would be:
.\vendor\bin\generate-factory-for-class "App\Action\TemplateTestAction" > src/App/src/Action/TemplateTestActionFactory.php

The biggest problem was that cl

[2019-12-31 20:50] weierophinney opened #16 "Configure FormElementManager"
I have a little module that configures the `FormElementManager` like this:

[code]

This config is loaded by a `ConfigProvider` class and loaded by the `ConfigManager` in the `/config/config.php` file like this:

[code]

When I want to access the `ProductFormInterface::class` from the `FormElementManager` it is not found. I need to these lines to the `/config/container.php` file to get this runnin

[2019-12-31 20:50] weierophinney commented on #16
How do you configure `FormElementManager`? Do you have a factory that injects it with configuration?

I did something similar here: https://github.com/mtymek/blast-input-filter - I configure validator, filter and input filter plugin managers in a similar manner as you do. Take a look - maybe it will give you some hints.
Alternatively, maybe you would like to contribute to my component and add supp

[2019-12-31 20:50] weierophinney commented on #16
Like I said, I only have a special `ConfigProvider` which reads the config file and adds it to the configuration in the `/config/config.php`. i thought that all the configuration is passed to formElementManager and others. To fix this I added the lines I mentioned.

Your package looks like a better solution though I am missing hydrators and form elements. The name of the package seems a bit mislea

[2019-12-31 20:50] weierophinney commented on #16
So, basically you're missing a factory that does the code you put in `config.php` ;) By itself, `FormElementManager` doesn't know that it should look for `form_elements` config key.

My package doesn't have hydrators and form elements because I don't use them (well, I use hydrators but I keep them in main SM...). But I'll be happy to accept PR or even consider changing the package name to somethin

[2019-12-31 20:50] weierophinney commented on #16
@RalfEggert for this i usually use Delegator Factories like

[code]

and in my ConfigProvider config

[code]

yes, class naming could be improved ;-)

---

Originally posted by @skors at https://github.com/zendframework/zend-expressive/issues/387#issuecomment-258964348

[2019-12-31 20:50] weierophinney opened #17 "[Question] $request->getParsedBody() returns empty array using PUT/PATCH methods"
I'm having difficulty in parsing the $request->getParsedBody() for PUT/PATCH method - it only returns empty array.

I've enabled Body Parsing Middleware on my controller and it works with POST method.

https://docs.zendframework.com/zend-expressive/features/helpers/body-parse/

I'm trying to implement the REST Controller by Alejandro Celaya

https://blog.alejandrocelaya.com/2016/06/24/dispatch-res

[2019-12-31 20:51] weierophinney commented on #17
I've tried to use $request->getBody()->getContents() and it shows the body params in string format. I don't know why the getParsedBody() returns an empty array.

You may try this: https://gist.github.com/gabbydgab/0193c4b6a8e02f658e9b5f7b7650235d

---

Originally posted by @gabbydgab at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-240681947

[2019-12-31 20:51] weierophinney commented on #17
It seems it only works with application/json type.

See https://github.com/zendframework/zend-expressive-helpers/pull/19

---

Originally posted by @gabbydgab at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-240689350

[2019-12-31 20:51] weierophinney commented on #17
From the docs (the first link you gave):

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-240769237

[2019-12-31 20:51] weierophinney commented on #17
Even using the body parsing middleware, on POST request the getParsedBody() is not empty, but when PUT request is sent, it's always empty for some reason.

---

Originally posted by @loter at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-248273433

[2019-12-31 20:51] weierophinney commented on #17
@gabbydgab Which version of `zend-expressive-helpers` are you using? There was a fix pertaining to JSON requests and parsed body in `2.0.1` (which was released after you opened this issue) that may be related. You might want to check on that as well, @loter.

If that's not the issue, let me know and we can investigate further.

---

Originally posted by @michaelmoussa at https://github.com/zendfra

[2019-12-31 20:51] weierophinney commented on #17
@michaelmoussa Ah, that would make sense since I can't replicate it. I should read the changelogs more often :)

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-248298987

[2019-12-31 20:51] weierophinney commented on #17
@gabbydgab The `getParsedBody()` works only with GET/POST for `application/x-www-form-urlencoded`. XHTML 1.x forms only support GET and POST.
That said, you can also use PUT with `x-www-form` but you need to parse data using `php://input` source, because there isn't a `$_PUT` global. [Here](http://lornajane.net/posts/2008/accessing-incoming-put-data-from-php) you can read an article on how to impl

[2019-12-31 20:51] weierophinney commented on #17
Actually... this _should_ work. For people this affects, we need the following information:

- What is the value of the `Content-Type` header?
- What HTTP request method were you using?
- What was the body content provided by the client?
- What does `(string) $request->getBody()` return?

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-expressive/issues/371#issuec

[2019-12-31 20:51] weierophinney commented on #17
@ezimuel has indicated that he encountered the problem with `Content-Type: application/json; charset=utf-8`. This makes sense that it would fail at this time, as our matching is for the pattern `#[/+]json$#` currently. This should likely be updated to split the content-type at a `;` boundary:

[code]

@ezimuel Would you like to prepare a PR? If not, I'll do it next week.

---

Originally posted by

[2019-12-31 20:51] weierophinney commented on #17
@weierophinney isn't the strategy as you mentioned in code currently  https://github.com/zendframework/zend-expressive-helpers/blob/4aea21e4102661cdafe9ea6d5b45944a68bb8919/src/BodyParams/JsonStrategy.php#L22 .

---

Originally posted by @harikt at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-299096031

[2019-12-31 20:51] weierophinney commented on #17
Unfortunately, when I send JSON using POST/PUT request and then do `$request->getParsedBody()`, I get an empty `array()`, too.

My scenario in POSTMAN:
1. I use `{"Content-Type":"application/json"}`
2. It happens on POST / PUT / PATCH  request
3. I send a simple JSON structure like `{"email":"email21@gmail.com","password":"1234"}`
4. When I do `(string) $request->getBody()` gets the actual json in

[2019-12-31 20:51] weierophinney commented on #17
@harikt Ooof, you're right. I'll still work up a PR with at least the failing test, though, as it's not working. Something's amiss.

@lvidal1 — One issue with `getContents()` is that it grabs contents _from the current pointer_. So, if the pointer is already at the end, you'll get an empty string. As such, you should likely either do a `$body->rewind()` first, or just cast `getBody()` to a string.

[2019-12-31 20:51] weierophinney commented on #17
I've created a unit test intended to reproduce the issue... but it doesn't. It passes. If this issue affects you, please look at zendframework/zend-expressive-helpers#43, and let me know if any changes need to be made to the tests proposed.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-299922705

[2019-12-31 20:51] weierophinney commented on #17
Well, I'm really happy to have discovered this thread !

I was really struggling with `$request->getParsedBody()`, it was always empty when `(string)$request->getBody()` was not empty (exactly as described by @lvidal1 : https://github.com/zendframework/zend-expressive/issues/371#issuecomment-299610141).

Following https://github.com/zendframework/zend-expressive-helpers/pull/43, I added `Zend\Expr

[2019-12-31 20:51] weierophinney commented on #17
Thank you for this thread! It took me *forever* to figure out that I needed to add `BodyParamsMiddleware` to my pipeline. I spent about 3 days racking my brain over this until tracing through and figuring out that `$request->getParsedBody()` was the culprit, returning an empty array.

---

Originally posted by @ramsey at https://github.com/zendframework/zend-expressive/issues/371#issuecomment-4967

[2019-12-31 20:51] weierophinney opened #18 "routes => middleware => multiple actions does not get lazy loaded"
Example:
config

[code]

Im using a middleware _(priority PHP_INT_MAX)_ to catch fatal error (`register_shutdown_function`).
When im using **one** action only in the config
and when i force an fatal error in that action
the registered shutdown function gets called.

If im using **two** actions as shown above
then no registered shutdown function gets called.
The middleware im using wont be invoked/

[2019-12-31 20:51] weierophinney commented on #18
It depends on what code you have in those actions. Usually you return a Response object in an action middleware. Which basically means you will not execute the second action but go back through all the previous middleware.

What you can have in that middleware is something like this:

[code]

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/361#issu

[2019-12-31 20:51] weierophinney commented on #18
Both actions return $next(...) if there is $next.
Here an example case:

test.global.php

[code]

App\ErrorHandler.php

[code]

App\TextAction.php

[code]

App\TestAction2.php

[code]

---

Without any error you will get an `data/text.txt` with content:

[code]

---

If you now force an fatal error in `App\TestAction.php` the `App\ErrorHandler.php` **wont** get invoked.
**Expected:**

[code]

**Go

[2019-12-31 20:51] weierophinney commented on #18
@sergu44o What version are you using? This issue is almost 2 years old.

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/361#issuecomment-372633773

[2019-12-31 20:51] weierophinney opened #19 "Add Album tutorial to docs"
I really love `Zend\Expressive` so far. To really get in rolling for beginners, I would love to see a tutorial like the Album tutorial for a `Zend\Mvc` project. It is really nice to see the examples, but beginners will also look for help how to structure their applications based on `Zend\Expressive` properly.

Any ideas and thoughts about this?

---

Originally posted by @RalfEggert at https://git

[2019-12-31 20:51] weierophinney commented on #19
This is a great skeleton app for Expressive that provides a good base structure with a couple of small examples.

https://github.com/zendframework/zend-expressive-skeleton

---

Originally posted by @dannym87 at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-151846921

[2019-12-31 20:51] weierophinney commented on #19
Yep, you are right. It is the perfect start into Zend\Expressive and all its cool features.

But the examples are a little too small for a real world application.

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-151854443

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert — Since you asked for it, I'm going to take that as you volunteering to write it. :smile: I'll certainly proofread and provide feedback, if you want to create a WIP pull request for it.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-151885448

[2019-12-31 20:51] weierophinney commented on #19
@dannym87 — The skeleton gives structure, but doesn't really go into a full-fledged application; I think @RalfEggert is wanting something that shows off the various features and concerns when creating more than just the home page and a single API endpoint.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-151885708

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert If you're looking for inspiration check out [proophessor-do](https://github.com/prooph/proophessor-do#technology-stack). Since the early days of zend-expressive this demo app is available and shows how expressive can be used to serve an event sourced domain model.

---

Originally posted by @codeliner at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-151917384

[2019-12-31 20:51] weierophinney commented on #19
@codeliner I really like your approach with an event sourced domain model, but (yes there must be one), I was thinking about a beginners tutorial for `Zend\Expressive`. Event sourcing would be too much for starters. But your structure is a way to start.

@weierophinney Kudos to you! Just turn the demander into the executor! ;-)

I would really love to spend all my free time on this. But currently

[2019-12-31 20:51] weierophinney commented on #19
This is the first prototype of a structure to implement the "Getting Started" tutorial (http://framework.zend.com/manual/current/en/user-guide/overview.html) from the manual with `Zend\Expressive`. It is based on the Skeleton https://github.com/zendframework/zend-expressive-skeleton.

This is basically the structure of a `Zend\Expressive` project after the installation. The biggest problem would b

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert This looks very similar to the structure I've been working on. I started putting together an application yesterday evening using the default FastRoute router, twig, and Doctrine DBAL.

Check it out and let me know what you think

https://github.com/dannym87/expressive-album

---

Originally posted by @dannym87 at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert The only suggestion I could make is to not have the single action per class pattern, but to use a single class whose `_invoke` `switch`es the method to private functions to handle the CRUD. This would make bring the files from 10 to 2 for the Album entity `Action/` directory. Maybe I'm just too old school. I think that Apigility still does multiple methods per class, but that might cha

[2019-12-31 20:51] weierophinney commented on #19
@moderndeveloperllc For RPC, we do a single method; however, how you break that up based on request method is up to you. We typically end up delegating to other methods. For REST, it's a bit different; the end-user doesn't interact with the controller, but rather the resource listener, which has methods for each possible action type. This is more of a service layer, though.

I'm generally of the m

[2019-12-31 20:51] weierophinney commented on #19
@weierophinney Thanks for taking the time to comment on this. You are correct in that I was thinking of the listener layer in Apigility. I guess my brain is trying to make the pattern middleware-as-controller instead of middleware-as-service. @RalfEggert I retract my suggestion :-) I do hope that #171 will help alleviate the need for some of those factory classes when using the zf service manager.

[2019-12-31 20:51] weierophinney commented on #19
Any comments to the suggested structure at the bottom of https://github.com/zendframework/zend-expressive/issues/176#issuecomment-152104012

I think it is not optimal yet, since the files for the album are spread in three directories `/config/`, `/src/` and `/templates/`.

What do others think? What is the best practice to write more complex `Zend\Expressive` applications?

---

Originally posted

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert I would add a `config/autoload/database.local.php` as well with the database username and password.

Why add these: `album.routes.global.php, album.dependencies.global.php, album.templates.global.php`? You can just use the files that are already there: `routes.global.php, dependencies.global.php, templates.global.php`. Or if you like place all the album config in `config/autoload/album

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert I see pros and cons to both the structure you propose, as well as the one @xtreamwayz proposes. My feedback:
- I personally like the idea of putting all configuration related to a conceptual unit in a single file, e.g. `config/autoload/album.global.php`. This makes it easy for the developer to see the dependencies, routes, etc. specific to that "unit" in one place.
- One problem we hav

[2019-12-31 20:51] weierophinney commented on #19
Maybe You can advise how ACL should look like in middleware app? Standard application has modules, controllers and actions which are natural resources. What is resource and privilege (in term of Zend ACL) in Expressive and ZF3? URI? (I see some disadvantages)

---

Originally posted by @wwwgo-pl at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-159528302

[2019-12-31 20:51] weierophinney commented on #19
I agree about a single `config/autoload/album.global.php` too.

The basic choice of organisation comes down:
1. `src`, `templates` and `test` are top-level directories with `App` and `Application` separated within each top-level directory
2. `App` and `Application` are at the top level (within a `modules` directory) with `src`, `templates` and `test` segregated within.

The structures would then l

[2019-12-31 20:51] weierophinney commented on #19
@akrabat I guess on the tree structure, it's going to depend on the scale of application you're working on. Advantages of having `modules` is that they can easily be separated into re-usable, standalone components.

If you're expecting to scale up with this being a potential future requirement, then having separate modules makes a lot of sense IMO, and they can be tested individually to. If you kn

[2019-12-31 20:51] weierophinney commented on #19
1. I like to have the tests as close as possible to the original source. So the test controller could be in the same folder of the production controller. Reduce lot of waste time scrolling folders list up and down for move from test to controller
2. I prefer use domain names for the directory instead instead by types. So Action folder could be named as "Create" or even not exists and put all the c

[2019-12-31 20:51] weierophinney commented on #19
@akrabat

I really like your second approach. It gives a lot of structure which is very important for beginners when they start to learn `Zend\Expressive`. I really tend to use that structure in the tutorial.

But wouldn't it make sense to start with a similar structure with the `Zend\Expressive` skeleton? Otherwise the beginning of the tutorial would look like this:
1. Install `Zend\Expressive` s

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert I would say start with the skeleton anyway. It has an option for beginners with some examples or a bare bone option for pros.

Personally for me the structure is less important. Especially as a beginner I couldn't care less. Yes it would be helpful to mention something about expanding it and I need to start thinking about a modular structure in the future. But as a beginner I would be

[2019-12-31 20:51] weierophinney commented on #19
@xtreamwayz

I have done a lot of ZF2 consulting in the last two years and in almost every project I identified the same pattern. Due to bad knowledge of how to structure and modularize a ZF2 MVC application the project is a real mess in most cases. People start with basic tutorials and put files almost anywhere. The `Application` module turns into a `God` module with dozens and hundreds of classe

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert Thanx for the explanation. Makes perfect sense.

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-160263183

[2019-12-31 20:51] weierophinney commented on #19
Tricky, isn't it?! It all depends on how you "think" about application structure.

I think that the "layout 1" option that I presented works well for a lot of even relatively complex applications. Of course, as @asgrim points out, layout 1 doesn't allow for easily reusing a code between applications, though I wonder how common that actually is. Personally, I'd have `src/App` and `test/App` directo

[2019-12-31 20:51] weierophinney commented on #19
I'm not sure how useful it is, but I could add an option to the skeleton to create layout 1 for small projects and layout 2 for big modular applications. The namespaces are still the same, only the files are saved in a different structure.

---

Originally posted by @geerteltink at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-160281947

[2019-12-31 20:51] weierophinney commented on #19
@xtreamwayz

An option would be nice.

@akrabat

Clearing the application to start with an empty application structure sounds interesting.

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-160319287

[2019-12-31 20:51] weierophinney commented on #19
@RalfEggert On reflection, and then consultation with @akrabat, I submitted zendframework/zend-expressive-skeleton#37, which does the following:
- Creates the directory `src/App/`, and pushes the `Action/` and `Composer/` subdirectories under it.
- Creates the directory `test/AppTest/`, and pushes the `Action/` subdirectory under it.
- Updates the `composer.json` `autoload` and `autoload-dev` defi

[2019-12-31 20:51] weierophinney commented on #19
Yes, this will make it much easier to follow @akrabat first suggested structure in https://github.com/zendframework/zend-expressive/issues/176#issuecomment-160106303

Personally, I still prefer the second suggested structure. The first structure would mean to spread the files for the Album in several directories while the second combines them in one (except the config part).

I already started cod

[2019-12-31 20:51] weierophinney commented on #19
I finished the first prototype of the code for the tutorial. You can look at it here:

https://github.com/RalfEggert/zend-expressive-tutorial/

The code is splitted in six branches called part1 to part6. Each branch includes the code for one part of the tutorial. Here is an overview of the 6 parts:
1. After the installation of the `Zend\Expressive` skeleton
2. Adding a new `AlbumListAction` with t

[2019-12-31 20:51] weierophinney commented on #19
Good work!

What's your plan on unit tests? I would suggest adding them on every step, so that "Album" module will be fully covered after each part. This would show best practices. I know that it will take some effort, so I can submit some PRs to help. What do you think?

---

Originally posted by @mtymek at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-163613754

[2019-12-31 20:51] weierophinney commented on #19
@mtymek
Yes, any feedback and contribs will be very much appreciated. Just add some unit test to each part branch and I will handle the merging.

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-expressive/issues/176#issuecomment-163625960

[2020-01-12 20:48] michalbundyra opened #22 "Buttons in documentation"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | master

#### Summary

In section "Get Started Now!" (https://docs.mezzio.dev/mezzio/) the button "Learn more" is not rendered properly:

![image](https://user-images.githubusercontent.com/7423207/72225370-bc531600-357c-11ea-9189-739d0b48c91e.png)

And another one below:

<img width="370" alt="image" src="https://user-images

[2020-01-12 20:52] michalbundyra opened #23 "Update installer screenshot - mezzio instead of expressive"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z

#### Summary

We need replace installer screenshot in the documentation to refer mezzio instead of expressive.
![](https://docs.mezzio.dev/mezzio/images/installer.png)

[2020-01-12 21:45] heiglandreas commented on #23
Screenshot already exists. See https://github.com/mezzio/mezzio-skeleton/pull/8

[2020-01-24 13:15] #22 closed

[2020-02-12 08:15] bkilinc opened #28 "Cannot set error handler layout to null"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z

#### Summary

#### Current behavior

I will not use layout templates for error pages, so I want to set layout to null for error templates. Using this configuration;
[ 'mezzio' => [ 'error_handler' => [ 'layout' => null ] ] ]
this does not cancel layout. However, instead of null if I use empty string ('') this works.

[2020-04-11 14:10] pine3ree opened #31 "new routed middleware definitions"
### Feature Request: new middleware definition 'FQCN::method' and ['FQCN', 'method']

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

It would be nice to be able to define "controller-like" handlers for multiple routes without resorting to:
https://docs.mezzio.dev/mezzio/v2/cookbook/using-routed-middleware-class-as-controller/#han

[2020-04-11 19:41] geerteltink commented on #31
IIRC, the url helper re-uses the current request value if none is given.

What's wrong with an abstract controller class which handles the crud logic detection and redirects to an action method if it exists?

[2020-04-11 20:04] pine3ree commented on #31
Hello @geerteltink,
1. But the url-helper is used to build different uris, not just for the current route.
`$url('/news/article/index')` vs `$url('/news/article', ['action' => 'index'])`
`$url('/news/article/create')` vs `$url('/news/article', ['action' => 'create'])`
`$url('/news/article/update', ['id' => 123])` vs `$url('/news/article', ['action' => 'create', 'id' => 123])`

For me atomic route-

[2020-04-12 15:55] pine3ree commented on #31
@geerteltink
There is also another benefits for atomic routes:
1. define per-route supported http-verbs
2. define per-route middleware pipelines

[code]

All previous routes expect an handler with the same-dependenies (article persistence model/orm) but they require different http-methods and may require additional middlewares.

[2020-04-12 16:24] geerteltink commented on #31
I'm trying to understand what the underlying idea is. I'm guessing it is the generation of factories, or having too many of them.

There are factory generators available with `mezzio/mezzio-tooling` and `laminas/laminas-servicemanager`. You can also reuse a factory for different handlers to inject the same dependencies.

Your proposal might be a nice solution, but it might complicate the configura

[2020-04-12 18:51] pine3ree commented on #31
Hello @geerteltink,

I would like to be able to handle both cases ("fqcn::method" and ["fqcn", "method"]) while keeping atomic routes for the reasons I stated earlier. Both the array version ["fqcn", "method"] and the string version are actually intercepted by the callable-handler case: https://github.com/mezzio/mezzio/blob/master/src/MiddlewareFactory.php#L78 so in this example:
[code]
the array

[2020-04-13 02:02] pine3ree commented on #31
I started implementing this, but I found out that I need the root-container (to pull controller-instances if defined as services, I updated my example above) not the middle-ware controller. So i need the MiddlewareFactory to have access to the root-container i.e. I need to make MiddlewareFactoryFactory pass down the root-container as well...

[2020-04-13 04:35] pine3ree commented on #31
I added a branch (against develop) with a possible implementation:
https://github.com/pine3ree/mezzio/tree/add-controller-middleware

- added access to the root-container in MiddlewareFactory
- added controller-middleware (pulling the controller from the cntainer or just creating a new instance)

- many unrelated tests are failing (even in the original master) some also complaining about missing p

[2020-04-13 09:44] pine3ree commented on #31
Simple test with skeleton:
[code]

[code]

[2020-04-13 15:08] weierophinney commented on #31
This is not something we really want to enable. A big part of the reason we removed the [handler-as-controller documentation you linked](https://docs.mezzio.dev/mezzio/v2/cookbook/using-routed-middleware-class-as-controller/#handling-multiple-routes-in-a-single-class) for version 3 was because we feel the paradigm of one route, one handler, helps tremendously with preventing the "fat controller" t

[2020-04-13 15:08] #31 closed

[2020-04-13 15:28] pine3ree commented on #31
@weierophinney,

just wanted to give it a try :-)

Yes, this is what I have been doing, and ported that code into my proposed branch...the nice thing is that the callable case is already intercepting these 2 cases ensuring the existence of class/method combination....anyway...it's fine...I understand the will to encourage atomic req-handlers in this repos!

kind regards

[2020-04-23 15:14] michalbundyra commented on #28
I can confirm, that there is inconsistency as you noted, as a reference, please see:

https://github.com/mezzio/mezzio/blob/a7232dfff9ca816671eb6de99098e9c2bb5495dd/src/Container/ErrorResponseGeneratorFactory.php#L28-L29

https://github.com/mezzio/mezzio/blob/a7232dfff9ca816671eb6de99098e9c2bb5495dd/src/Container/NotFoundHandlerFactory.php#L30-L31

https://github.com/mezzio/mezzio-laminasviewrende

[2020-04-24 13:33] samsonasik commented on #23
should can be closed in favor of #8

[2020-04-24 17:32] samsonasik commented on #23
I talked with @michalbundyra that it needs to be re-opened as it is about different place.

[2020-04-28 17:37] weierophinney commented on #28
@michalbundyra Looking at those containers, I think we could change those statements to read:

[code]

This would convert a `null` value to an empty string in those scenarios, which would give us the same result, and _should_ work with all available renderers.

[2020-04-28 18:37] #28 closed

[2020-05-20 12:07] sheridans opened #41 "Missing documentation for UrlHelper (reuse_result_params)"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z

#### Summary

Missing documentation for UrlHelper and reuse_result_params - no mention of reuse_result_params in current documentation.

#### Current behavior

I was looking to generate canonical url's for blog posts, using $this->serverUrl($this->url('blog.list')), the default behaviour is to re-use route params, so

[2020-05-22 12:36] antje-78 opened #42 "Apache https configuration will produce 404 for all routes"
### Bug Report

I have a mezzio-project developed. I use the Apache Server. The problem is that my https-requests will produce 404-errors, but when i changed to http it will work.

[2020-05-22 14:19] samsonasik commented on #42
getlaminas.org is using mezzio project as well, works ok with https https://getlaminas.org/ .

Seems may be related with your apache config. Please ask at https://discourse.laminas.dev/ instead for question.

[2020-05-22 14:19] #42 closed

[2020-05-22 15:10] antje-78 commented on #42
ok, thanks

[2020-06-09 18:40] bitfactory-sander-lissenburg opened #44 "Web server rewrite config for Nginx"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

In the documentation it is mentioned that you would like to know how to use the rewrite (like the one used for apache) in other web server.

https://docs.mezzio.dev/mezzio/v1/cookbook/using-a-base-path/#htaccess-in-the-application-root

Well... for nginx you can just use the s

[2020-07-04 07:12] bkilinc opened #45 "development config symlink not deleted after installing as with --no-dev option"
### Bug Report
after running
composer install --no-dev
config/autload/development.local.php symlink still remains .
My project crashes with error message "Uncaught Error: Class 'Whoops\Run' ".
I have to manually delete "development.local.php" after install.
May be there is a problem with my workflow. I sync development files to deployment space and run composer install --no-dev afterwards. But at

[2020-07-04 07:16] bkilinc commented on #45
sorry, I should use "composer development-disable"

[2020-07-04 07:16] #45 closed

[2020-07-04 07:16] michalbundyra commented on #45
@bkilinc I think this is expected behaviour.

Please see: https://docs.mezzio.dev/mezzio/v3/getting-started/quick-start/#development-tools

So you need to disable development mode before running `composer install --no-dev`.

[2020-08-04 14:19] mimmi20 opened #46 "Can not create links from routes with optional parameters"
### Bug Report

|    Q        |   A
|------------ | ------
| Version mezzio/mezzio  | 3.2.2
| Version laminas/laminas-router  | 3.3.2
| PHP | 7.2.31

#### Summary

#### Current behavior

Actually I have an Zend MVC Application with the following routing:

[code]
I'm using this call to generate an Uri in a view script:

[code]

The generated Uri is "/wizard/1/os09t2ujphehcbvp7nr7fgs5ei".

I'm tryin

[2020-08-04 14:24] weierophinney commented on #46
The problem is that you have an optional segment followed by required segments. This has always had problematic behavior, and we do not recommend it.

Instead, create two separate routes, one that does not have the `:embed` segment, and one that has it as a required segment.

[2020-08-05 06:10] mimmi20 commented on #46
In our project we have in summary 9 routes with this optional Parameter. We had duplicated routes before for some of them, until we found out in Zend MVC does this kind of routing work. Our problem with duplicated routes was, that we forget often to change the second one.

[2020-08-26 06:13] michalbundyra opened #47 "Switch to vimeo/psalm"
On our [last TSC meeting](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling) we agreed to use `vimeo/psalm` as a static analysis tool.

We'd like to switch to use this library instead of phpstan.

Example implementation and configuration can be found in:
- https://github.com/laminas/automatic-releases
- http

[2020-10-01 23:54] azjezz commented on #47
I'll take on this one if that's okay? :)

[2020-10-04 15:35] boesing opened #49 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:47] boesing opened #50 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-11-24 10:10] arku31 opened #52 "Make MiddlewareFactory replaceable"
As this class is extendable and I do extend it, I would be happy to have this property as `protected`. Otherwise, everything that happens in parents constructor, stays in parent constructor, which leads to constructor duplication in the child class.
https://github.com/mezzio/mezzio/blob/7d71a4887fb0a4dc99e39dd7c4a79fea2bb36170/src/MiddlewareFactory.php#L56

[2020-12-01 09:57] eguvenc opened #53 "Missing documents about building complex queries."
### Bug Report

Missing documents about building complex queries using like operators and others. Related topic https://discourse.laminas.dev/t/how-to-build-complex-queries-using-like-methods/1929/5

|    Q        |   A
|------------ | ------
| Version(s)  | x.y.z

#### Summary

Should added to documentation.

#### Current behavior

There is no detailed information.

#### How to reproduce

-

####

[2020-12-01 10:02] froschdesign commented on #53
@eguvenc
This topic is related to [laminas-db](https://docs.laminas.dev/laminas-db/) and has nothing to do with Mezzio. Please reopen the issue report in the related issue tracker: https://github.com/laminas/laminas-db/issues

[2020-12-01 10:02] #53 closed, assigned to nobody

[2020-12-08 13:55] boesing opened #54 "Support for PSR-17"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 3.3.0  |
| BC Break?           | No |

### Goal

Mezzio has its own convention to create an instance of `ResponseInterface` and `ServerRequestInterface`.
One has to use `laminas-diactoros` which works [out-of the box with mezzio](https://github.com/mezzio/mezzio/blob/7d71a4887fb0a4dc99e39dd7c4a79fea2b

[2020-12-08 17:53] weierophinney commented on #54
The current status quo exists because our factories pre-dated PSR-17; I'd love to have standard PSR-17 factories instead. If we can coordinate the other repos to use PSR-17 first, and to have the factories we provide proxy to PSR-17 factories, I think we can likely make this work pretty seamlessly, and potentially without a major version required.

[2020-12-22 17:22] boesing commented on #54
We could avoid having a major bump when creating the anonymous callable within this package.

The major bump could get rid of the callable and instead passing the PSR-17 factories instead.

I'll see if I can make a PoC next week.

[2021-01-11 15:44] jensdenies commented on #50
Hi @boesing, regarding the PHPUnit dependency upgrade: the assertions `assertAttribute*` have been removed  #(https://github.com/sebastianbergmann/phpunit/issues/3338). This was primarily done because it makes it too easy to test implementation details.

This repository seems to use these assertions quite a lot, what's the recommended upgrade path for the tests which use these assertions?

[2021-01-11 16:46] lcobucci commented on #50
@jensdenies that really depends on the context in which those assertions are used.

Some can be addressed by comparing objects (`assertEquals` not `assertSame`, sure). However, there might be cases where the test method is just useless and needs to be removed or adjusted to use the public API.

Perhaps PHPUnit upgrade and dropping PHP 7.3 should be done in a separate PR, so that we can more easily

[2021-01-11 17:41] jensdenies commented on #50
Hi @lcobucci, several of these assertions are used to read private properties, which are indeed implementation details. Those properties do not always have an associated getter, so IMO it would be best to remove those and only test the public API of those classes.

Regarding your last comment, that would certainly make thing easier because the assertions are still available in PHPUnit 8. I think i

[2021-01-12 07:46] jensdenies commented on #50
@lcobucci I've created a draft PR here: #55.

[2021-01-12 19:29] boesing commented on #50
@jensdenies Imho, the current tests can be rewritten with reflection. Feel free to create some trait within the `tests` directory and share it with those tests which are using the removed `assertAttribute*` methods.

I wont recommend rewriting the whole testsuite as this would take too much time.
We can still consider this for the next major but for now, just use a self-written method which uses r

[2021-01-12 20:04] jensdenies commented on #50
@boesing I will create a PR with a trait to polyfill those traits, like you proposed.

When looking at other Laminas repositories, I see that in some cases, tests which test implementation details are removed.

https://github.com/laminas/laminas-cache/pull/48/files#diff-5934f6347f914a564aa00ffada1a80a1ad425c8df17ff34de7e0dbe5efd921c0L25

Is that something you'd like to see in the PR as well?

[2021-01-12 20:13] boesing commented on #50
@jensdenies Depends. The tests which were removed were tests to verify if backwards compatibility to servicemanager v2 works.
As we dropped support for the servicemanager v2 in `laminas-cache`, the tests were removed accordingly along with the implementation.

[2021-01-12 20:16] jensdenies commented on #50
@boesing Okay, I will create a PR working on PHP 8.0 with a polyfill trait and let's see from there.

[2021-01-24 21:11] Ocramius opened #62 "Remove `--ignore-platform-reqs` flag from `.travis.yml` when dependencies are updated/ready for PHP 8"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#60 introduces PHP 8 compatibility, but by adding a `--ignore-platform-reqs` composer flag during installation.

That's OK, since we're doing it to speed up the upgrade to PHP 8, but we need to remove said flag in `3.4.0`

[2021-01-24 21:13] Ocramius commented on #50
Handled in #59, #60, #62.

[2021-01-24 21:13] #50 closed, assigned to Ocramius

[2021-01-24 21:14] jensdenies commented on #62
Mezzio-aurarouter is the last dependency that needs PHP 8 support in order to remove the flag. I've opened a PR a little while ago to prepare for the upgrade (bumps PHPUnit to 9.3 and PHP to 7.3).

https://github.com/mezzio/mezzio-aurarouter/pull/3

[2021-01-24 23:10] jensdenies commented on #62
It turns out we also need a PHP 8 compatible `laminas/laminas-psr7bridge` release. There's a PR still pending at: https://github.com/laminas/laminas-psr7bridge/pull/9.

[2021-01-25 11:23] Ocramius commented on #62
@jensdenies released :+1:

[2021-01-25 11:25] jensdenies commented on #62
@Ocramius Thanks! I will create a PR with the updated dependency later on this evening.

Edit: I can probably do it in #63.

[2021-01-25 19:56] jensdenies commented on #62
@Ocramius I've created the PR at #64.

[2021-01-25 21:29] lcobucci commented on #62
Handled by #64

[2021-01-25 21:29] #62 closed, assigned to lcobucci

[2021-04-20 18:13] #47 closed

[2021-04-20 18:13] #49 closed, assigned to nobody

[2021-04-21 15:42] mosbth opened #69 "Allow for mezzio to be run in a sub directory of the web server"
### Feature Request

Allow for mezzio to be run in a sub directory of the web server, out of the box, without need of configuration.

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | maybe

#### Summary

When installing mezzio it does not work, out of the box, when running the website in a sub directory.

I found an article on "[Cookbook Using Mezzi

[2021-04-22 11:35] boesing commented on #69
Imho, this is all about webserver configuration.

You can work with `mod_rewrite` (apache) and `location` regex (nginx) which remove parts of the path so PHP does not have to handle all that stuff.
If you dont want to configure your webserver like that, you can create your own middleware and add it to the pipeline.
That middleware could remove the `subdirectory` from your `ServerRequestInterface`

[2021-04-22 12:19] froschdesign commented on #69
Which can be activate or deactivate during the installation process via the installer and by using [mezzio-tooling](https://docs.mezzio.dev/mezzio/v3/reference/cli-tooling/) / [laminas-cli](https://docs.laminas.dev/laminas-cli/).

[2021-04-22 12:20] froschdesign commented on #69
@mosbth
Thanks for your feedback! 👍

You use a local environment for development and there you can follow the first two steps of the quick start guide:

* [Create a new project](https://docs.mezzio.dev/mezzio/v3/getting-started/quick-start/#create-a-new-project)
* [Start a web server](https://docs.mezzio.dev/mezzio/v3/getting-started/quick-start/#start-a-web-server)

This uses [PHP's built-in web

[2021-04-26 07:38] boesing commented on #69
I've created a feature request in the `mezzio-helpers` component as I think that this middleware is a good addition.
I've also added the integration to the `mezzio-skeleton` for this, so it can be configured during installation process and (if needed) afterwards via `laminas-cli` command 👍🏼

[2021-04-28 11:09] mosbth commented on #69
Thanx for the responses!

TLDR;

Perhaps this issue is not so trivial one could expect at a first glance, there might be several things to consider, if one want to implement this feature, including the following.

1. Is this in general a good suggestion for Mezzio usability for first time users in development environment? Probably yes.
2. Is it good to have it like this in production? Depends on h

[2021-05-09 13:06] internalsystemerror opened #71 "isMap assertion is breaking the skeleton installation"
Recently trying to work on a PR for `mezzio-skeleton` and I'm getting a lot of failing tests regarding config being an `ArrayObject` and not a map caused by the following line:

https://github.com/mezzio/mezzio/blob/af67e673959bbd60013fd777326117edf6288899/src/Container/ServerRequestErrorResponseGeneratorFactory.php#L24

I also found the following related issue: https://github.com/mezzio/mezzio-au

[2021-05-10 19:22] boesing commented on #71
Closed by #72

[2021-05-10 19:22] #71 closed, assigned to nobody

[2021-05-20 17:36] #54 closed, assigned to nobody

[2021-05-22 23:45] tempfirstuser commented on #19
Guys, I need the newest/updated examples/samples/tutorials for CRUD mezzio application. Actually I need all (creating API with hal, filters and validators) of it for replacing API-tools functionality by mezzio.  Also, I don't know the difference between v2 and v3 versions of mezzio and if CRUD tutorials of expressive is valid for the newest version of mezzio.

Can you give me a hint? Thank you!

[2021-05-29 17:12] xserrat opened #77 "Fatal error after creating a mezzio project with "composer create-project mezzio/mezzio-skeleton""
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.2.1

#### Summary

When installing the skeleton of mezzio using the following command:
[code]
I get an error when loading the home page:

![image](https://user-images.githubusercontent.com/5933658/120078724-2b1d0a80-c0b1-11eb-9789-f3ee3b22d467.png)

#### How to reproduce

* Run `composer create-project mezzio/mezzio-skele

[2021-05-29 17:19] Xerkus commented on #77
Duplicate of #71

[2021-05-29 17:19] #77 closed, assigned to nobody

[2021-05-29 17:19] Xerkus commented on #77
This was already resolved in later version. Run `composer update`

[2021-07-02 13:52] boesing opened #81 "[RFC]: Mezzio v4"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 4.0.0  |
| BC Break?           | Yes |

### Goal

- Remove `callable` response factory support
- Add latest coding standard and add `declare(strict_types=1);` where its missing

### Background

We already prepared v3 to support native `PSR-17` factories (when available) and now we just have to create

[2021-07-23 12:31] boesing opened #85 "Mezzio does not work without a router"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.5.1

#### Summary

I have  use-case where I do not need routes but want to use mezzio.

The `Application` requires `RouteCollector` which is provided by the various router services. Due to the lack of an interface, the `RouteCollector` cannot be stripped away and thus, one has to provide a factory for the `RouteCollector`

[2021-07-27 18:44] weierophinney commented on #85
@boesing I'm a bit confused - are you asking to allow NOT using a router, or that no errors are raised if the RouteCollector class is unavailable, but none of the methods that would use it are ever used?

[2021-07-27 18:58] boesing commented on #85
@weierophinney In the first place, I would prefer having a `RouteCollectorInterface` which I can implement and override in my application to avoid having to require any of the implementing router components.
The `RouteCollector` is actually requiring the `RouterInterface` which is not available due to the lack of a router component.

I'm fine with that fact, but I'd still like to polyfill the `Rou

[2021-08-06 16:24] boesing commented on #85
Closed with #87

[2021-08-06 16:24] #85 closed, assigned to nobody

[2021-09-08 19:02] settermjd commented on #17
I suggest closing this issue as [the final comment](https://github.com/mezzio/mezzio/issues/17#issuecomment-569989260) covers the correct resolution.

[2021-09-08 19:05] #17 closed

[2021-09-29 12:57] settermjd opened #93 "Using ApplicationConfigInjectionDelegator more than once (in multiple modules simultaneously) results results in a DuplicateRouteException."
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.6.0 (likely earlier as well)

#### Summary

Using `ApplicationConfigInjectionDelegator` more than once (in multiple modules simultaneously) results results in a DuplicateRouteException. I found out about this after being contacted by a reader of [Mezzio Essentials](https://mezzioessentials.com/).

#### Current behavior

I

[2021-10-11 19:58] arueckauer commented on #6
Is this feature completed with https://github.com/zendframework/zend-expressive-zendviewrenderer/pull/64 and https://github.com/zendframework/zend-expressive-zendviewrenderer/pull/67?

[2021-10-11 20:15] froschdesign commented on #44
https://docs.mezzio.dev/mezzio/v3/cookbook/using-a-base-path/#using-nginx

[2021-10-12 02:48] Xerkus commented on #44
This is insecure get pwned setup:
[code]

[2021-10-12 02:49] Xerkus commented on #44
Access to mezzio folders that are not /public must be denied or rewritten

[2021-10-12 06:02] froschdesign commented on #44
Something like:

[code]

[2021-10-13 16:34] boesing opened #94 "Move router integration tests to router packages"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 3.7.0  |
| BC Break?           | No |

### Goal

To unblock PHP 8.1 support from this package, we should remove all router integration tests and only do unit tests when it comes to integration tests (and/or use our own `laminas-router` where we actually can always provide patches to be compatible with

[2021-11-23 08:47] agustingomes opened #95 "PHP 8.1 Support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

This issue aims to track the PHP 8.1 support addition to the project. Happy to help on this issue if it's necessary.

[2021-11-24 07:55] agustingomes commented on #95
@boesing what should be the base branch in this case, 3.6.x or 4.0.x?

[2021-11-24 08:52] froschdesign commented on #95
@agustingomes
The support of PHP 8.1 can be added in a minor version which means for this package: 3.7.0. The related branch is [3.7.x](https://github.com/mezzio/mezzio/tree/3.7.x).

[2021-11-24 11:40] agustingomes commented on #95
perfect. I'll invest some time for this today

[2021-11-24 18:02] agustingomes commented on #95
I've ran updates to the composer.lock of the project, and what I found so far in the PR:

- all the direct dependencies under `require` are ready for PHP 8.1
- all the following dev dependencies need to be upgraded to be compatible with PHP 8.1
  - `laminas/laminas-coding-standard` (upgrading to ^2.3 would make it compatible)
  - `mezzio/mezzio-aurarouter` https://github.com/mezzio/mezzio-aurarout

[2021-11-24 18:51] agustingomes commented on #95
@froschdesign I see some 7.3 tests fail. on e of the dependencies involved is `laminas/laminas-servicemanager` which is no longer compatible since 3.8.0, which is the same version that PHP 8.1 support was added for it.

Is this an indication we should drop PHP 7.3 as dependency?

[2021-11-24 18:53] froschdesign commented on #95
@agustingomes
See my comment on the pull request. 😉

[2021-11-24 19:19] agustingomes commented on #95
I removed support for 7.3.

Additionally I updated the coding standards package to be compatible with 8.1, but one of the sniffs of the `2.3.0` can introduce breaking code for 7.4.

Here is the explanation i added in the commit:

targeted replaces occurrences of `get_class($instance)` by
`$instance::class` which is not compatible with PHP 7.4.

[2021-11-24 19:20] agustingomes commented on #95
I'll work the next days on the other 2 issues I opened, before proceeding further with the PR for this repository.

[2021-11-25 09:47] mrVrAlex commented on #95
What about support for laminas-httphandlerrunner 2.x versions? It is possible have support both 1.x && 2.x in composer?

[2021-11-25 11:04] agustingomes commented on #95
@shandyDev I took a brief look, but it seems it's not possible easily, since supporting 2.x now will entail some degree of  refactoring, which I feel it's out of scope for PHP 8.1 support.

I would suggest to open a new issue, so the maintainers can assess if this request is feasible.

[2021-11-25 11:19] mrVrAlex commented on #95
Agree. httphandlerrunner 1.x have PHP 8.1 support, this should be separate issue.

[2021-11-25 11:22] mrVrAlex opened #97 "Support for laminas-httphandlerrunner 2.x versions"
### Feature Request

Support for laminas-httphandlerrunner 2.x versions

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | yes?

#### Summary

It is possible have support in composer both httphandlerrunner  major version 1.x || 2.x  Or it is should be new major release (4.0) with 2.x only??

[2021-11-25 11:59] boesing commented on #97
@shandyDev no plans around that as of now.
Feel free to create a PoC where you provide support for both versions in mezzio v3 - I can upmerge to v4 afterwards. 👍🏼
Happy to help reviewing your changes.

[2021-12-01 22:33] agustingomes commented on #95
Closed with https://github.com/mezzio/mezzio/pull/96

[2021-12-01 22:33] #95 closed, assigned to nobody

[2021-12-07 07:17] Ocramius commented on #97
Handled in #99

[2021-12-07 07:17] #97 closed, assigned to Ocramius

[2021-12-28 08:02] PHPTCloud opened #101 "Laminas\View\Renderer\PhpRenderer::render: Unable to render template "app::home-page"; resolver could not resolve to a file"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3

#### Summary

After installation I've got error on my home page
[code]

#### How to reproduce

Composer version 2.2.1
PHP 7.4.27

[code]

[2022-01-31 10:42] boesing opened #105 "Create `Mezzio\ApplicationPipeline` implementation for better static code analysis"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

In this package, `Mezzio\ApplicationPipeline` is a service identifier to retrieve the assembled middleware pipeline for a mezzio project which does not actually represents a class.

This pipeline is consumed by these classes in a mezzio project:
- https://github

[2022-01-31 11:54] boesing commented on #105
Created a PoC in #107

[2022-01-31 12:01] boesing commented on #93
This is a tough one. Delegators are not meant to be used more than once.
What is the use-case of providing that delegator more than once?

----

The only thing to avoid this is to do some kind of de-duplication in `laminas-servicemanager` but I am unsure what kind of implications this might have in projects which do actually rely on this.
I, personally, can not imagine a use-case where delegators

[2022-01-31 12:15] boesing commented on #52
Actually, this factory might become `final` in one of the next versions while adding an `Interface` to it.

Would you be open for a Pull-Request where you create an `MiddlewareFactoryInterface` which implements those public methods which can be found in the current implementation?
We could then change the consumer of this factory (`Application#__construct`) to use the new `MiddlewareFactoryInterfa

[2022-01-31 16:31] arku31 commented on #52
Hi, using an interface approach is totally fine for me :)

[2022-02-03 11:22] harikt commented on #69
Hi,

I don't recall how laminas is using aura router under the hood. But just to mention the base path is already supported in 3.x . See docs http://auraphp.com/packages/3.x/Router/other-topics.html#3-4-7-3

[2022-04-06 13:23] tempfirstuser opened #112 "Missing good examples of configuration template paths for laminas-view in mezzio"
Hi guys!
I'm trying to integrate `mezzio/mezzio-laminasviewrenderer` into our mezzio project which was only api oriented. I need `laminas-view` templates to generate html code for emails.
I have read documentation from this page https://docs.mezzio.dev/mezzio/v3/features/template/laminas-view/
And there is an example of rendering html like this one
[code]
What is `'blog/entry'`???
What is `'layout

[2022-04-06 13:35] froschdesign commented on #112
The skeleton application contains examples for the configurations:
https://github.com/mezzio/mezzio-skeleton/tree/3.12.x/src/MezzioInstaller/Resources/src

[2022-04-06 15:35] tempfirstuser commented on #112
@froschdesign I used this `$renderer`
[code]

But when I've made some investigation of `mezzio/mezzio-skeleton` package I've found example of using `TemplateRendererInterface` and passing it from handler factory like this
[code]
Then later in handler I was able to use renderer like this
[code]
It works for me!
Also here is my config from `ConfigProvider.php`
[code]
Inside of `/Template/Email` I ha

[2022-04-06 18:38] froschdesign commented on #112
@tempfirstuser

This creates a _separate_ and _isolated_ renderer and there is no magic, so the configuration of your application is not used here.

And this gives you the prepared renderer of [mezzio-laminasviewrenderer](https://github.com/mezzio/mezzio-laminasviewrenderer):

* `Mezzio\Template\TemplateRendererInterface::class` is an alias for `Mezzio\LaminasView\LaminasViewRenderer::class`
* `Me

[2022-04-11 19:10] weierophinney commented on #81
@boesing I guess we're ready for the BC breaking 4.0 now, since all components are now updated. :smile:

[2022-04-12 13:08] boesing commented on #81
Meh, I've forgot one component here: `laminas/laminas-stratigility`.

[2022-04-20 10:06] boesing opened #114 "Replace `RequestHandlerRunner` factory with `RequestHandlerRunnerInterface` factory"
We have to remove the alias `RequestHandlerRunnerInterface` introduced in #110 and instead add it to the `factories`.
This should also remove the `RequestHandlerRunner` factory so that the `RequestHandlerRunner` service is not available via the container anymore.

This introduces a BC break but will provide better capabilities for projects which want to decorate the runner.

----
This can go to 3.

[2022-07-11 21:10] spacedog4 commented on #17
I'd like to reopen this thread and ask you guys how does you deal with unit test, since the only docs I've found for testing an request is these way

[code]

but this way `$request->getParsedBody()` returns null, only this way, throught postman it returns the correct

[2022-07-11 21:12] Ocramius commented on #17
@spacedog4 please create a new issue instead, but the explanation you gave so far is a bit vague.

[2022-07-11 21:14] spacedog4 commented on #17
@Ocramius you're right, I've deleted my comment, and will delete this one soon

[2022-09-07 08:14] arueckauer commented on #8
Currently Mezzio requires an implementation of `psr/http-message-implementation` as well as `laminas/laminas-httphandlerrunner`. This can be achieved with e.g.:

[code]

However, this does not add the same value as utilizing `mezzio/mezzio-skeleton` which in addition sets up a directory structure and installs a DI, a router and optionally a template engine and error handler.

The documentation of

[2022-09-07 08:47] froschdesign commented on #8
@arueckauer

A documentation page for the installation is still missing and a _manual_ installation should also be added there.

laminas-httphandlerrunner can be omitted from this command:

https://github.com/mezzio/mezzio/blob/d5bf81f0caee6cf4b682a4bf1f8d693288bf217d/composer.json#L39-L43

[2022-09-07 08:56] arueckauer commented on #8
I am missing something here. What is the value of adding only `mezzio/mezzio` to an existing project? Would the documentation cover routing and DI, application structure, ...?

You are right. Good catch!

[2022-09-07 09:02] froschdesign commented on #8
Sorry, I was a bit unclear here. I mean only the manual installation, not any integration. I think an integration or a migration can be a topic for blog post or something similar.

[2022-09-07 09:10] arueckauer commented on #8
So, adding this to documentation would suffice?

[2022-09-07 09:22] froschdesign commented on #8
We need a separate page which shows the different ways for an installation. Creating a project via the skeleton application is one of them. The _manual_ installation may be another.
An entry "Installation" is completely missing in the navigation: https://docs.mezzio.dev/mezzio/

[2022-09-07 09:32] froschdesign opened #119 "Page with the description of the installation is missing"
An entry "Installation" is completely missing in the navigation: https://docs.mezzio.dev/mezzio/

We need a separate page which shows the different ways for an installation. Creating a project via the skeleton application is one of them. The _manual_ installation via `composer require laminas/laminas-diactoros mezzio/mezzio` may be another.

[2022-09-07 09:33] froschdesign commented on #8
Will be fixed with #119

[2022-09-07 09:33] #8 closed

[2022-09-10 17:50] ostrolucky opened #120 "mezzio-tooling installation fails"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.11.0

#### Summary

mezzio-tooling installation fails on this line https://github.com/mezzio/mezzio/blob/d5bf81f0caee6cf4b682a4bf1f8d693288bf217d/bin/mezzio-tooling#L74. This is of course because there is no "php" section in https://github.com/mezzio/mezzio-tooling/blob/2.7.x/composer.json. Was this working at some point

[2022-09-10 17:50] ostrolucky opened #146 "bin/mezzio-tooling is incompatible with mezzio/mezzio-tooling v2"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 3.11.0

#### Summary

mezzio-tooling installation fails on this line https://github.com/mezzio/mezzio/blob/d5bf81f0caee6cf4b682a4bf1f8d693288bf217d/bin/mezzio-tooling#L74. This is of course because there is no "php" section in https://github.com/mezzio/mezzio-tooling/blob/2.7.x/composer.json. Was this working at some point

[2022-09-13 09:30] Ocramius commented on #146
@ostrolucky I moved this to `mezzio/mezzio-tooling`.

I don't have a clear overview of why this happens.

@settermjd you worked with this codebase last: could you perhaps help out in troubleshooting this?

[2022-09-14 00:05] renovate[bot] opened #124 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/mezzio/mezzio).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

 - [ ] L

[2022-10-08 12:11] acelaya opened #126 "[RFC]: Provide an ApplicationProgrammaticConfigDelegator that pairs with ApplicationConfigInjectionDelegator"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 3.x  |
| BC Break?           | No |

### Goal

Standardize how routes and middleware are piped into the application, by providing a, let's call it `ApplicationProgrammaticConfigDelegator`, that wraps the logic of loading the `config/routes.php` and `config/pipeline.php` files.

Then, users would need

[2022-10-08 13:53] acelaya commented on #126
Just as a comment. As a short term solution I have placed my pipeline and routes files inside a different folder (config/programmatic), that way I can have my own delegator factory that can be always safely used (even with swoole).

This would be an option to make this change in a fully backwards-compatible way.

[2022-10-08 17:26] Ocramius commented on #126
Just removing the convention and moving the service to a factory would enable this 👍

[2022-11-28 12:23] jscssphtml commented on #46
Please leave this open. This happens also for routing without any non-optional postfixes....

We have a very simple route defined: (this is just a extension of the skeleton app)
[code]

With the same result during building the url:
[code]

We have researched a little bit on this and found out, that the "name" parameter is added to the options here:
https://github.com/mezzio/mezzio-laminasrouter/bl

[2022-11-28 12:48] Ocramius commented on #46
@jscssphtml new issue, perhaps with test case, would be nice

[2022-11-28 13:25] boesing commented on #46
I guess that this issue is better placed in https://github.com/mezzio/mezzio-laminasrouter as that seems to be a specific laminas-router issue rather than a mezzio issue.